<div class="wrap acf-settings-wrap">

        <h1>
            {{ __('Create new processus') }}
        </h1>

        <form id="post" method="post" action="?page=list-incoming-process" name="post" enctype="multipart/form-data">
            <input type="hidden" name="formAction" id="formAction" value="saveProcess" />
            <div id="poststuff">

                <div id="post-body" class="metabox-holder columns-1">

                    <div id="postbox-container-2" class="postbox-container">

                        <div id="normal-sortables" class="meta-box-sortables ui-sortable"><div id="acf-group_5aaf924306377" class="postbox  acf-postbox">
                                <div class="inside acf-fields -top">
                                    <div class="acf-field acf-field-select" data-name="process" data-type="select">
                                        <div class="acf-label"><label for="process">{{ __('Processus type') }}*</label><p class="description">{{ __('Select processus type') }}</p></div>
                                        <div class="acf-input">
                                            <select id="process" class="" name="process" data-ui="0" data-ajax="0" data-multiple="0" data-placeholder="Choisir" data-allow_null="0" required>
                                                <option value="">-- {{ __('Select processus type') }} --</option>
                                                {% for process in processes.data %}
                                                    <option value="{{ process['@id'] }}">{{ process.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="acf-field acf-field-file" data-name="file" data-type="file">
                                        <div class="acf-label"><label for="file">{{ __('Load a file') }}</label><p class="description">{{ __('Load a file for your process') }}</p></div>
                                        <div class="acf-input">
                                            <input type="file" name="file" />
                                        </div>
                                    </div>
                                    <div class="acf-field acf-field-textarea" data-name="arguments" data-type="textarea">
                                        <div class="acf-label"><label for="process">{{ __('Processus arguments') }}</label><p class="description">{{ __('Define optional processus arguments') }}</p></div>
                                        <div class="acf-input">
                                            <textarea id="arguments" name="arguments" rows="4"></textarea>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
                {{ submit_button }}
                <br class="clear">

            </div>

        </form>

</div>



<!--<h1 class="wp-heading-line">{{ __('Ajout d\'un processus') }}</h1>
    <hr class="wp-header-end" />
    <form id="car-edit" action="" method="post">
        <input type="hidden" name="formAction" id="formAction" value="saveProcess" />

        <div class="block-editor">

        </div>
    </form>
</div>-->