<div class="wrap">
    <h1 class="wp-heading-inline">{{ __('Processus') }}
        <a href="?page=new-incoming-process" class="page-title-action">{{ __('Ajouter') }}</a>
    </h1>

    {% if success is defined and success is not empty %}
        <div id="message" class="updated notice-success">
            <p>{{ success }}</p>
        </div>
    {% elseif error is defined and error is not empty %}
        <div id="message" class="error notice-error">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <form id="incoming-process-filter" method="get">
        {{ admin_list }}
    </form>
</div>