<div class="wrap acf-settings-wrap">
    {% if incoming_process['@id'] is defined %}
    <h1>
        {{ __('Details about process') }} {{ incoming_process['@id'] }}
        <a href="?page=list-incoming-process" class="page-title-action">{{ __('Retour') }}</a>
    </h1>
    <div id="poststuff">
        <div id="post-body" class="metabox-holder columns-1">
            <div id="postbox-container-2" class="postbox-container">
                <div id="normal-sortables" class="meta-box-sortables ui-sortable">
                    <div id="acf-group_5aaf924306377" class="postbox  acf-postbox">
                        <div class="inside acf-fields -top">
                            <div class="acf-field acf-field-input" data-name="process" data-type="input">
                                <div class="acf-label"><label for="process">{{ __('Processus type') }}</label></div>
                                <p class="description">{{ incoming_process.process.name }}</p>
                            </div>
                            <div class="acf-field acf-field-createdat" data-name="createdat" data-type="input">
                                <div class="acf-label"><label for="process">{{ __('Created at') }}</label></div>
                                <p class="description">{{ incoming_process.createdAt }}</p>
                            </div>
                            <div class="acf-field acf-field-executedAt" data-name="executedAt" data-type="input">
                                <div class="acf-label"><label for="process">{{ __('Executed at') }}</label></div>
                                <p class="description">{{ incoming_process.executedAt }}</p>
                            </div>
                            <div class="acf-field acf-field-status" data-name="status" data-type="input">
                                <div class="acf-label"><label for="process">{{ __('Status') }}</label></div>
                                <p class="description">{{ incoming_process.status }}</p>
                            </div>
                            <div class="acf-field acf-field-reporting" data-name="reporting" data-type="input">
                                <div class="acf-label"><label for="process">{{ __('Reporting') }}</label></div>
                                <p class="description">
                                    <strong>Total : </strong>{{ incoming_process.reporting.total }}
                                </p>
                                <p class="description">
                                    <strong style="color:red">In Error : </strong>{{ incoming_process.reporting.in_error }}
                                </p>
                                <p class="description">
                                    <strong style="color:green">In Success : </strong>{{ incoming_process.reporting.in_success }}
                                </p>
                                <p class="description">
                                    Errors Details :<br/>
                                    {% for keyerror, error in incoming_process.reporting.errors %}
                                       {{ error }}<br/>
                                    {% endfor %}
                                    {% for keyerror, error in incoming_process.reporting.extra %}
                                        {{ keyerror }} - {{ error }}<br/>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br class="clear">
    </div>
    {% endif %}
</div>